.sidebar__container,
.nav__bar,
.nav__items,
#nav__links {
  display: flex;
  flex-direction: column;
}

.sidebar__container {
  justify-content: space-between;
  min-height: 100vh;
  background-color: rgba(245, 247, 249, 0.234);
  padding: 2rem 1rem;
  width: 16vw;
  border-right: 1px solid rgb(235, 235, 235);
}
.newboard__btn {
  border-radius: 25px;
  padding: 0.8rem 1rem;
  border: none;
  background-color: rgba(14, 63, 176, 0.845);
  color: #fff;
  width: 96%;
  display: flex;
  align-items: center;
  margin-top: 0.8rem;
  font-family: inherit;
  cursor: pointer;
  font-size: 0.94rem;
}
.nav__items {
  gap: 1rem;
  margin-top: 2rem;
}
.nav__items h2 {
  font-weight: 600;
  font-size: 1rem;
  padding-left: 0.7rem;
  color: rgb(35, 24, 13);
}
#nav__links {
  list-style-type: none;
  font-size: 0.85rem;
  gap: 0.2rem;
}
#nav__links li {
  padding: 0.5rem 0;
  padding-left: 0.6rem;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav__board {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(35, 24, 13);
  text-decoration: none;
}
#nav__links li:hover {
  background-color: rgba(102, 141, 248, 0.188);
}
